*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Poppins' ,sans-serif;
  padding: 0vh 10vw;
  background-color: #F6F7FB;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    body{
      
      padding: 0vh 5vw;
      background-color: #F6F7FB;
    }

}